/*css for separator */
button.display_button_close{
    background-image: url(/web/static/src/img/icons/gtk-goto-first.png) !important;
    background-repeat: no-repeat  !important;
    background-position-x: center  !important;
    background-position-y: center  !important;
    height: 20px  !important;

}

button.display_button_open{
    background-image: url(/web/static/src/img/icons/gtk-goto-last.png)  !important;
    background-repeat: no-repeat  !important;
    background-position-x: center  !important;
    background-position-y: center  !important;
    height: 20px  !important;
}
.leftmenu_display_none{
    display: none !important;
}
.leftmenu_display{
    display:table-cell;
}
span.dbname{
	display: inline-block;
    width: 140px;
	text-align:center;
}
.dbname{
	color:white;
	font-size:20px;

}
div#verticals {
	position: relative;
	padding-left: 140px;
	border:none;
}
.oe_help_icon{
    padding: 0px;
    width: 20px;
    height: 20px;
}
div#verticals > div {
	min-height: 300px;
}
.oe_horizontal_separator {
	border-bottom: 1px solid black;
}

div#verticals .ui-tabs-panel {
	border: 0px solid black;
}
div#verticals .ui-tabs-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 140px;
	padding: 15px 0px 5px 5px;
}
div#verticals .ui-tabs-nav li {
	left: 0px;
	width: 130px;
	border-right: none;
	overflow: hidden;
	margin-bottom: 2px;
	border: 1px solid black;
	background-image: linear-gradient(to bottom, rgb(2, 2, 2), rgb(121, 115, 115));
}

div#verticals .ui-tabs .ui-tabs-nav li a {
float: left;
padding-top: 1em;
padding-left: 0.3em;
padding-right: 19px !important;
text-decoration: none;
}

div#verticals .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: left;
	color: rgb(211, 101, 101);
}
div#verticals .ui-tabs-nav li.ui-tabs-selected {
	border: medium;
	border-right: solid 1px #fff;
	background: aqua;
	background-color: #fff;
	width: 200px;
}
.scrollable {
    margin: 0;
    padding: 0;
    overflow:auto;
}

.openerp .oe_leftbar {
  display: none;
  width: 180px;
  background: #f0eeee;
  text-shadow: 0 1px 1px white;
  padding-bottom: 16px;

}

.openerp a.oe_logo {
  position: relative;
  width: 180px;
  display: block;
  text-align: center;
}

.openerp a.oe_logo img {
  margin: 0px 0;
  border: 0;
}

.openerp .oe_footer {
  position: fixed;
  bottom: 0;
  padding: 4px 0;
  background: #f0eeee;
  width: 120px;
  text-align: center;
}

.openerp .oe_list_content > div > tbody > tr {
  height: 27px;
  border-top: 1px solid #dddddd;
}
.openerp .oe_list_content > div >tbody > tr > td.oe_list_field_cell {
  padding: 3px 6px;
  white-space: pre-line;
}
.openerp .oe_list_content > div > tbody > tr > td > button, .openerp .oe_list_content > div > tbody > tr > th > button {
  border: none;
  background: transparent;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_checkbox:first-child, .openerp .oe_list_content > div > tbody > tr th.oe_list_checkbox:first-child {
  width: 17px;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_checkbox:first-child:after, .openerp .oe_list_content > div > tbody > tr th.oe_list_checkbox:first-child:after {
  border-width: 0;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_field_boolean input {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.openerp .oe_list_content > div > tbody > tr:nth-child(odd) {
  background-color: #f0f0fa;
  background-color: #efeff8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#eeeef6));
  background-image: -webkit-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -moz-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -ms-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -o-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: linear-gradient(to bottom, #f0f0fa, #eeeef6);
}
 
