 
.openerp .oe_leftbar {
  display: none;
  width: 120px;
  background: #E9C9C9;
  border-right: 1px solid #afafb6;
  text-shadow: 0 1px 1px white;
  padding-bottom: 16px;
}

.openerp a.oe_logo {
  position: relative;
  width: 120px;
  display: block;
  text-align: center;
}

.openerp a.oe_logo img {
  margin: 0px 0;
  border: 0;
}

.openerp .oe_footer {
  position: fixed;
  bottom: 0;
  padding: 4px 0;
  background: red;
  width: 120px;
  text-align: center;
}

.openerp .oe_list_content > div > tbody > tr {
  height: 27px;
  border-top: 1px solid #dddddd;
}
.openerp .oe_list_content > div >tbody > tr > td.oe_list_field_cell {
  padding: 3px 6px;
  white-space: pre-line;
}
.openerp .oe_list_content > div > tbody > tr > td > button, .openerp .oe_list_content > div > tbody > tr > th > button {
  border: none;
  background: transparent;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_checkbox:first-child, .openerp .oe_list_content > div > tbody > tr th.oe_list_checkbox:first-child {
  width: 17px;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_checkbox:first-child:after, .openerp .oe_list_content > div > tbody > tr th.oe_list_checkbox:first-child:after {
  border-width: 0;
}
.openerp .oe_list_content > div > tbody > tr > td.oe_list_field_boolean input {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.openerp .oe_list_content > div > tbody > tr:nth-child(odd) {
  background-color: #f0f0fa;
  background-color: #efeff8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#eeeef6));
  background-image: -webkit-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -moz-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -ms-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -o-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: linear-gradient(to bottom, #f0f0fa, #eeeef6);
}
